<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.lxkj.qiqihunshe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <!--安装apk权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".app.MyApplication"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".app.ui.entrance.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--腾讯TBS浏览服务X5内核 更新之后似乎可有可无-->
        <meta-data
                android:name="QBSDKAppKey"
                android:value="Q7xpuMkavjlnT1JB+DounMu3"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.lxkj.qiqihunshe.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>


        <service
                android:name=".app.service.NotificationDownApkService"
                android:enabled="true"
                android:exported="true"/>

        <activity android:name=".app.ui.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.entrance.ForgetPassActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.entrance.RegisterActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.entrance.PerfectInfoActivitiy"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.entrance.MyTypeActivity"
                  android:screenOrientation="portrait"/>


        <!--我的-->
        <activity android:name=".app.ui.mine.activity.SetUpActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.AgreementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ContactUsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.FeedBackActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.VerificationPhoneActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.SecuritySetUpActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ModifyPassActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.AnswerProblemActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ModifyPhoneActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.RealNameAuthenActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.PersonalInfoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.PersonInvitationDetailsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ReputationBaoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.QiQiRuleActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.WebViewActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.CheckInActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.QiQiDynamicActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.QiQiDynamicDetailsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.SignUpRecordAcivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.QiQiRecommendActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.InteractiveNotificationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.WalletActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.RechargeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.WithdrawalActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MyBillActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MySpaceActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ChargingSetUpActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.SeenSkillActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MyDynamicActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ReleaseDynamicActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ReleaseSkillActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ReleaseInvitationTypeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.ReleaseInvitationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MyInvitationDetailsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.AffectiveZoneActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MyAffectiveActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.QiQiBlackListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.UploadCertificatesActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.QuestionsAuthenActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.PermissionBuyActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MySkillActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.MySkillDetailsActiivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.mine.activity.PayActivity"
                  android:screenOrientation="portrait"/>

        <!--////////////////////////////////首页\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <activity android:name=".app.ui.shouye.activity.MatchingActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.shouye.activity.MatchingHistoryActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.shouye.activity.VoiceChatDialActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.shouye.activity.VoiceChatAnswerActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.shouye.activity.SetupProblemActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.shouye.activity.StrokeActivity"
                  android:screenOrientation="portrait"/>

        <!--区域-->
        <activity android:name=".app.ui.quyu.activity.FwqyActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.quyu.activity.DdtjActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.quyu.activity.ShopDetailActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.ui.map.activity.SelectAddressMapActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.ui.map.activity.ChooseAddressActivity"
                  android:screenOrientation="portrait"/>


        <!--//////////////////////////////////////////消息\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <activity android:name=".app.ui.xiaoxi.activity.LookupActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.xiaoxi.activity.LookupResultActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.xiaoxi.activity.AddFriendActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.xiaoxi.activity.NewFirendActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.xiaoxi.activity.QiQiRemindActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.xiaoxi.activity.UploadMarryActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.xiaoxi.activity.MsgDetailsActivity"
                  android:screenOrientation="portrait"/>

        <!--/////////////////////////////////附近\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

        <activity android:name=".app.ui.xiaoxi.activity.ChatActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="com.lxkj.qiqihunshe"
                        android:pathPrefix="/conversation/"
                        android:scheme="rong"/>
            </intent-filter>

        </activity>


        <!--百度地图-->
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="PlChs1C7ijPY9uuPCXQvxxsemnziVheT"/>

        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote"/>
        <service android:name=".app.service.LocationService"/>


        <service android:name=".app.service.CallKitService"/>

        <!--友盟-->
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="5c8715903fc195b79d00078e"/>


        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--微信-->
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <activity
                android:name="cn.beecloud.BCWechatPaymentActivity"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity-alias
                android:name=".wxapi.WXPayEntryActivity"
                android:exported="true"
                android:targetActivity="cn.beecloud.BCWechatPaymentActivity"/>


        <!--融云音视频-->
        <activity
                android:name="io.rong.callkit.MultiVideoCallActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.MULTIVIDEO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="io.rong.callkit.SingleCallActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.SINGLEVIDEO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.SINGLEAUDIO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="io.rong.callkit.MultiAudioCallActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.MULTIAUDIO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="io.rong.callkit.CallSelectMemberActivity"/>

    </application>

</manifest>